@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary-color: #0e0e0e;
$secondary-color: #ffe560;
$tertiary-color: #ff9c00;
$shadow-color-a: #f2f2f2;
$shadow-color-b: #ffffff;

/*@@ BODY */

body {
  background-color: $primary-color;
  margin: 0px;
  overflow-y: hidden;
}

/*@@ PRESETS */

.input-text {
  border: 0px;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.3em;
  text-align: center;
}

.input-button {
  background: none;
  width: 150px;
  height: 50px;
  border: 2px solid $secondary-color;
  border-radius: 5px;
  color: white;
  font-size: 1.3em;
  outline: none;
  cursor: pointer;
}

.input-button:hover {
  background-color: $secondary-color;
  color: $primary-color;
}

/*@@ HEADER */

header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: flex-end;
  overflow: hidden;
  position: fixed;

  .button-menu {
    display: block;
    background-color: $secondary-color;
    width: 120px;
    height: 100px;
    position: relative;
    left: 60px;
    transform: skewX(50deg);
    color: $primary-color;
    cursor: pointer;

    .icon {
      width: 130px;
      text-align: center;
      font-size: 3em;
      transform: skewX(-50deg) rotateZ(40deg);
      position: relative;
      top: 8px;
      right: 17px;
    }

  }

  .button-menu:hover {
    color: $tertiary-color;
  }

  .button-menu:active {
    color: $primary-color;
  }

}

/*@@ DRAWER */

.drawer {
  background-color: $primary-color;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 3;

  .button-unfold {
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 10px;
    left: -10px;
    margin-top: auto;
    margin-right: auto;
    overflow: hidden;
    user-select: none;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .fold {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 85px;
      margin-left: auto;
      transform: rotateZ(45deg);
      position: relative;
      top: -15px;
      left: 8px;
      cursor: pointer;
      opacity: 0;

      .icon {
        color: #898989;
        font-size: 4em;
        transform: rotateZ(-90deg);
        margin-top: 15px;
        margin-left: 13px;
      }

    }

    .fold:hover .icon {
      color: $secondary-color;
    }

    .fold:active .icon {
      color: $shadow-color-a;
    }

    .fold.fadingIn {
      animation-name: fadeIn;
      animation-delay: 1s;
      animation-duration: .2s;
      animation-fill-mode: forwards;
    }

  }

}

/*@@ PROFILE FORM */

#profileForm {
  padding: 10px;
  margin: 0 auto;

  .box-label-input {

    .label {
      display: block;
      color: white;
      font-size: 1.3em;
      margin: 5px 0px;
    }

    .input {
      display: flex;
      width: 300px;
      height: 40px;
    }

    select.input {
      border-radius: 5px;
      outline: none;
    }

  }

  input[type="submit"] {
    display: block;
    margin: 10px auto;
  }

}

.drawer:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-style: solid;
  border-width: 0px 100px 100px 0px;
  border-color: $shadow-color-b #3a3a3a;
}

@keyframes hide {
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(100%, -100%);
  }
}

@keyframes unfold {
  0% {
    border-width: 0px 100px 100px 0px;
  }

  100% {
    border-width: 0px 2000px 2000px 0px;
  }
}

.drawer.unfolding {
  display: flex;
  animation-name: hide;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.drawer.unfolding:before {
  animation-name: unfold;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-direction: normal;
}

.drawer.folding {
  display: flex;
  animation-name: hide;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-direction: reverse;
}

.drawer.folding:before {
  animation-name: unfold;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-direction: reverse;
}

.white-background {
  display: none;
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}

@keyframes hideBackground {
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(100%, 0%);
  }
}

.white-background.unfolding {
  display: block;
  animation-name: hideBackground;
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-direction: normal;
}

.white-background.folding {
  display: block;
  animation-name: hideBackground;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.chat-box {
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0;
  width: 300px;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  padding-top: 5px;
  padding-right: 20px;
  border-radius: 10px 10px 0px 0px;
  z-index: 1;

  .container-messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-bottom: 120px;
    margin-bottom: 120px;
    overflow-y: auto;
    padding-right: 10px;

    .chat-alert {
      text-align: center;
      font-size: 1em;
      color: gray;
    }

    .message-box {
      width: 290px;
      margin-top: 15px;

      .box-user-name {
        background-color: $primary-color;
        width: 250px;
        color: $shadow-color-b;
        padding: 5px;
        border-radius: 5px 30px 0px 0px;
        overflow: hidden;

        h1 {
          width: 240px;
          text-align: left;
          margin: 0px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 1.2em;
        }

      }

      .box-user-message {
        background-color: $shadow-color-b;
        max-width: 280px;
        padding: 5px;
        border-radius: 0px 10px 10px 10px;
        box-shadow: 1px 1px 5px 0px #cccccc;
        border-right: 1px solid #ececec;
        border-left: 1px solid #ececec;
        border-bottom: 1px solid #ececec;
        word-break: break-all;

        p {
          text-align: justify;
          margin: 0px;
          font-size: 1.2em;
        }

        .timestamp {
          font-size: 0.8em;
          border-bottom: 1px solid #3a3a3a;
          text-align: left;
        }

      }

    }

    .message-box.sent {

      .box-user-name {
        border-radius: 30px 5px 0px 0px;
        margin-left: auto;

        h1 {
          margin-left: auto;
        }

      }

      .box-user-message {
        background-color: #1a1a1a;
        border-radius: 10px 0px 10px 10px;
        border: 0px;

        p {
          color: white;
        }

        .timestamp {
          text-align: right;
          color: #c1b7b7;
        }

      }

    }

  }

}

.messager-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 10px;
  border-radius: 100px 100px 0px 0px;
  right: 10px;
  z-index: 2;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $shadow-color-b;
    width: 220px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #f3f3f3;

    input {
      display: block;
      background: none;
      height: 30px;
      margin: auto;
      border: 0px;
      font-size: 1.2em;
      text-align: center;
      color: #acacac;
      outline: none;
      overflow: hidden;
    }

  }

  .button-send {
    background-color: $shadow-color-b;
    width: 20px;
    height: 20px;
    border-radius: 70px;
    border: 10px solid $tertiary-color;
    cursor: pointer;
  }

  .button-send:hover {
    background-color: $shadow-color-b;
    border: 10px solid $shadow-color-a;
  }

  .button-send:active {
    background-color: $tertiary-color;
    border: 10px solid $shadow-color-b;
  }

}
