<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body id="homePage">
    <% include partials/template/header.ejs %>
    <div class="container">
      <section class="chat-box"></section>
      <section class="messager-box">
        <form name="chatForm">
          <div class="input-message-box">
            <input id="chat-message" type="text" placeholder="type message here..." />
          </div>
          <div class="button-send"></div>
        </form>
      </section>
    </div>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
