<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body>
    <% include partials/template/header.ejs %>
    <div class="container">
      <section class="chat-box">

        <section class="container-messages">

        </section>

      </section>
      <section class="messager-box">
        <div class="input-message-box">
          <input type="text" placeholder="type message here..." />
        </div>
        <div class="button-send">

        </div>
      </section>
    </div>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
