<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
  </head>
  <body>
    <% include partials/template/header.ejs %>
    <div class="container">
      <section class="chat-box">

        <section class="container-messages">
          <% for( let i = 0; i < 30; ++i ) { %>

          <section class="message-box">
            <div class="box-user-name">
              <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid repudiandae suscipit deleniti soluta voluptatem ipsa unde perspiciatis, cum neque nostrum rem, maxime assumenda. Itaque pariatur enim, ullam vitae et, possimus!</h1>
            </div>
            <div class="box-user-message">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid repudiandae suscipit deleniti soluta voluptatem ipsa unde perspiciatis, cum neque nostrum rem, maxime assumenda. Itaque pariatur enim, ullam vitae et, possimus!</p>
            </div>
          </section>

          <section class="message-box sent">
            <div class="box-user-name">
              <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid repudiandae suscipit deleniti soluta voluptatem ipsa unde perspiciatis, cum neque nostrum rem, maxime assumenda. Itaque pariatur enim, ullam vitae et, possimus!</h1>
            </div>
            <div class="box-user-message">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid repudiandae suscipit deleniti soluta voluptatem ipsa unde perspiciatis, cum neque nostrum rem, maxime assumenda. Itaque pariatur enim, ullam vitae et, possimus!</p>
            </div>
          </section>

          <% } %>

        </section>

      </section>
      <section class="messager-box">
        <form name="chatForm">
          <div class="input-message-box">
            <input id="chat-message" type="text" placeholder="type message here..." />
          </div>
          <div class="button-send"></div>
        </form>
      </section>
    </div>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
