<header>
  <% if( hasDrawer ) { %>
  <div class="button-menu">
    <i class="icon fa fa-bars"></i>
  </div>
  <% } %>
</header>
<% if( hasDrawer ) { %>
<aside class="drawer">
  <% include ../profileForm.ejs %>
  <div class="button-unfold">
    <div class="fold">
      <i class="icon fa fa-chevron-right"></i>
    </div>
  </div> <!-- drawer closing button -->
</aside> <!-- drawer -->
<div class="white-background"></div> <!-- unfold animation background -->
<% } %>
