<header>
  <div class="button-menu">
    <i class="icon fa fa-bars"></i>
  </div>
</header>
<aside class="drawer">
  <form>
    <div class="box-label-input">
      <label><span class="label">Status:</span>
        <select class="input">
          <option>Online</option>
          <option>Busy</option>
          <option>Away</option>
          <option>Invisible</option>
        </select>
      </label>
    </div>
    <div class="box-label-input">
      <label><span class="label">Name:</span>
        <input type="text" class="input" />
      </label>
    </div>
  </form>
  <div class="button-unfold">
    <div class="fold">
      <i class="icon fa fa-chevron-right"></i>
    </div>
  </div>
</aside>
